In [1]:
import pandas as pd
import numpy as np

# Data Exploration

Import the csv file into the project and preview the first few lines to get an idea of the dataset. As I plan to build multiple models using this dataset, the csv import will be placed in a function.

In [3]:
def import_csv():
    return pd.read_csv('profiles.csv')
df = import_csv()
df.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

In [4]:
df.columns

Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'essay0',
       'essay1', 'essay2', 'essay3', 'essay4', 'essay5', 'essay6', 'essay7',
       'essay8', 'essay9', 'ethnicity', 'height', 'income', 'job',
       'last_online', 'location', 'offspring', 'orientation', 'pets',
       'religion', 'sex', 'sign', 'smokes', 'speaks', 'status'],
      dtype='object')

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59946 entries, 0 to 59945
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          59946 non-null  int64
 1   body_type    54650 non-null  object
 2   diet         35551 non-null  object
 3   drinks       56961 non-null  object
 4   drugs        45866 non-null  object
 5   education    53318 non-null  object
 6   essay0       54458 non-null  object
 7   essay1       52374 non-null  object
 8   essay2       50308 non-null  object
 9   essay3       48470 non-null  object
 10  essay4       49409 non-null  object
 11  essay5       49096 non-null  object
 12  essay6       46175 non-null  object
 13  essay7       47495 non-null  object
 14  essay8       40721 non-null  object
 15  essay9       47343 non-null  object
 16  ethnicity    54266 non-null  object
 17  height       59943 non-null  float64
 18  income       59946 non-null  int64
 19  job          51748 non-null  object
 20  last_online  59946 non-null  object
 21  location     59946 non-null  object
 22  offspring    24385 non-null  object
 23  orientation  59946 non-null  object
 24  pets         40025 non-null  object
 25  religion     39720 non-null  object
 26  sex          59946 non-null  object
 27  sign         48890 non-null  object
 28  smokes       54434 non-null  object
 29  speaks       59896 non-null  object
 30  status       59946 non-null  object
dtypes: float64(1), int64(2), object(28)
memory usage: 14.2+ MB

## Exploring in more detail

Use `value_counts()` to explore the columns that appeal and identify potential features and targets for use in a model

In [7]:
df['body_type'].value_counts()

body_type
average           14652
fit               12711
athletic          11819
thin               4711
curvy              3924
a little extra     2629
skinny             1777
full figured       1009
overweight          444
jacked              421
used up             355
rather not say      198
Name: count, dtype: int64

In [8]:
df['diet'].value_counts()

diet
mostly anything        16585
anything                6183
strictly anything       5113
mostly vegetarian       3444
mostly other            1007
strictly vegetarian      875
vegetarian               667
strictly other           452
mostly vegan             338
other                    331
strictly vegan           228
vegan                    136
mostly kosher             86
mostly halal              48
strictly halal            18
strictly kosher           18
halal                     11
kosher                    11
Name: count, dtype: int64

In [9]:
df['drinks'].value_counts()

drinks
socially       41780
rarely          5957
often           5164
not at all      3267
very often       471
desperately      322
Name: count, dtype: int64

In [10]:
df['drugs'].value_counts()

drugs
never        37724
sometimes     7732
often          410
Name: count, dtype: int64

In [11]:
df['education'].value_counts()

education
graduated from college/university    23959
graduated from masters program        8961
working on college/university         5712
working on masters program            1683
graduated from two-year college       1531
graduated from high school            1428
graduated from ph.d program           1272
graduated from law school             1122
working on two-year college           1074
dropped out of college/university      995
working on ph.d program                983
college/university                     801
graduated from space camp              657
dropped out of space camp              523
graduated from med school              446
working on space camp                  445
working on law school                  269
two-year college                       222
working on med school                  212
dropped out of two-year college        191
dropped out of masters program         140
masters program                        136
dropped out of ph.d program            127
dropped out of high school             102
high school                             96
working on high school                  87
space camp                              58
ph.d program                            26
law school                              19
dropped out of law school               18
dropped out of med school               12
med school                              11
Name: count, dtype: int64

Could be worth exploring results when using 'graduated from college/university' vs all other columns. This could be generalizing too much however

In [13]:
df['ethnicity'].value_counts()

ethnicity
white                                                                 32831
asian                                                                  6134
hispanic / latin                                                       2823
black                                                                  2008
other                                                                  1706
                                                                      ...
middle eastern, indian, white                                             1
asian, middle eastern, black, white, other                                1
asian, middle eastern, indian, hispanic / latin, white, other             1
black, native american, indian, pacific islander, hispanic / latin        1
asian, black, indian                                                      1
Name: count, Length: 217, dtype: int64

There are many values in the ethnicity column that only have 1 value. All the individual entries could be aggregated into the 'other' category, or, we could represent the data in binary using white and non-white as most entries identify as white.

In [15]:
df['location'].value_counts()

location
san francisco, california         31064
oakland, california                7214
berkeley, california               4212
san mateo, california              1331
palo alto, california              1064
                                  ...
south wellfleet, massachusetts        1
orange, california                    1
astoria, new york                     1
london, united kingdom                1
rochester, michigan                   1
Name: count, Length: 199, dtype: int64

Most users appear to be in San Francisco, California. Either drop the column or convert to San Francisco vs not San Francisco

In [17]:
df['job'].value_counts()

job
other                                7589
student                              4882
science / tech / engineering         4848
computer / hardware / software       4709
artistic / musical / writer          4439
sales / marketing / biz dev          4391
medicine / health                    3680
education / academia                 3513
executive / management               2373
banking / financial / real estate    2266
entertainment / media                2250
law / legal services                 1381
hospitality / travel                 1364
construction / craftsmanship         1021
clerical / administrative             805
political / government                708
rather not say                        436
transportation                        366
unemployed                            273
retired                               250
military                              204
Name: count, dtype: int64

Job could be a candidate for one-hot-encoding. There is a reasonable distribution within the categories.

In [19]:
df['income'].value_counts()

income
-1          48442
 20000       2952
 100000      1621
 80000       1111
 30000       1048
 40000       1005
 50000        975
 60000        736
 70000        707
 150000       631
 1000000      521
 250000       149
 500000        48
Name: count, dtype: int64

Most users did not answer this question so it should be dropped

In [21]:
df['offspring'].value_counts()

offspring
doesn&rsquo;t have kids                                7560
doesn&rsquo;t have kids, but might want them           3875
doesn&rsquo;t have kids, but wants them                3565
doesn&rsquo;t want kids                                2927
has kids                                               1883
has a kid                                              1881
doesn&rsquo;t have kids, and doesn&rsquo;t want any    1132
has kids, but doesn&rsquo;t want more                   442
has a kid, but doesn&rsquo;t want more                  275
has a kid, and might want more                          231
wants kids                                              225
might want kids                                         182
has kids, and might want more                           115
has a kid, and wants more                                71
has kids, and wants more                                 21
Name: count, dtype: int64

Probably a candidate to be dropped

In [23]:
df['orientation'].value_counts()

orientation
straight    51606
gay          5573
bisexual     2767
Name: count, dtype: int64

Can use data to predict orientation. Could be done using binary and multiclass classification with a Neural Network.

In [25]:
df['pets'].value_counts()

pets
likes dogs and likes cats          14814
likes dogs                          7224
likes dogs and has cats             4313
has dogs                            4134
has dogs and likes cats             2333
likes dogs and dislikes cats        2029
has dogs and has cats               1474
has cats                            1406
likes cats                          1063
has dogs and dislikes cats           552
dislikes dogs and likes cats         240
dislikes dogs and dislikes cats      196
dislikes cats                        122
dislikes dogs and has cats            81
dislikes dogs                         44
Name: count, dtype: int64

Possibly another candidate for one-hot-encoding

In [27]:
df['religion'].value_counts()

religion
agnosticism                                   2724
other                                         2691
agnosticism but not too serious about it      2636
agnosticism and laughing about it             2496
catholicism but not too serious about it      2318
atheism                                       2175
other and laughing about it                   2119
atheism and laughing about it                 2074
christianity                                  1957
christianity but not too serious about it     1952
other but not too serious about it            1554
judaism but not too serious about it          1517
atheism but not too serious about it          1318
catholicism                                   1064
christianity and somewhat serious about it     927
atheism and somewhat serious about it          848
other and somewhat serious about it            846
catholicism and laughing about it              726
judaism and laughing about it                  681
buddhism but not too serious about it          650
agnosticism and somewhat serious about it      642
judaism                                        612
christianity and very serious about it         578
atheism and very serious about it              570
catholicism and somewhat serious about it      548
other and very serious about it                533
buddhism and laughing about it                 466
buddhism                                       403
christianity and laughing about it             373
buddhism and somewhat serious about it         359
agnosticism and very serious about it          314
judaism and somewhat serious about it          266
hinduism but not too serious about it          227
hinduism                                       107
catholicism and very serious about it          102
buddhism and very serious about it              70
hinduism and somewhat serious about it          58
islam                                           48
hinduism and laughing about it                  44
islam but not too serious about it              40
judaism and very serious about it               22
islam and somewhat serious about it             22
islam and laughing about it                     16
hinduism and very serious about it              14
islam and very serious about it                 13
Name: count, dtype: int64

Candidate to be dropped, too much variance in options. Could be aggragated into non-religious vs religious, or, split into individual religions regardless of seriousness.

In [29]:
df['sex'].value_counts()

sex
m    35829
f    24117
Name: count, dtype: int64

Good candidate to be the target variable, relatively even split between the two options. Should be useful to model to make predictions too.

In [31]:
df['sign'].value_counts()

sign
gemini and it&rsquo;s fun to think about         1782
scorpio and it&rsquo;s fun to think about        1772
leo and it&rsquo;s fun to think about            1692
libra and it&rsquo;s fun to think about          1649
taurus and it&rsquo;s fun to think about         1640
cancer and it&rsquo;s fun to think about         1597
pisces and it&rsquo;s fun to think about         1592
sagittarius and it&rsquo;s fun to think about    1583
virgo and it&rsquo;s fun to think about          1574
aries and it&rsquo;s fun to think about          1573
aquarius and it&rsquo;s fun to think about       1503
virgo but it doesn&rsquo;t matter                1497
leo but it doesn&rsquo;t matter                  1457
cancer but it doesn&rsquo;t matter               1454
gemini but it doesn&rsquo;t matter               1453
taurus but it doesn&rsquo;t matter               1450
libra but it doesn&rsquo;t matter                1408
aquarius but it doesn&rsquo;t matter             1408
capricorn and it&rsquo;s fun to think about      1376
sagittarius but it doesn&rsquo;t matter          1375
aries but it doesn&rsquo;t matter                1373
capricorn but it doesn&rsquo;t matter            1319
pisces but it doesn&rsquo;t matter               1300
scorpio but it doesn&rsquo;t matter              1264
leo                                              1159
libra                                            1098
cancer                                           1092
virgo                                            1029
scorpio                                          1020
gemini                                           1013
taurus                                           1001
aries                                             996
pisces                                            992
aquarius                                          954
sagittarius                                       937
capricorn                                         833
scorpio and it matters a lot                       78
leo and it matters a lot                           66
cancer and it matters a lot                        63
aquarius and it matters a lot                      63
pisces and it matters a lot                        62
gemini and it matters a lot                        62
libra and it matters a lot                         52
taurus and it matters a lot                        49
aries and it matters a lot                         47
sagittarius and it matters a lot                   47
capricorn and it matters a lot                     45
virgo and it matters a lot                         41
Name: count, dtype: int64

Another candidate to group the data into individual signs and then one-hot-encode

In [33]:
df['smokes'].value_counts()

smokes
no                43896
sometimes          3787
when drinking      3040
yes                2231
trying to quit     1480
Name: count, dtype: int64

This can be split into smokes and doesn't smoke

In [35]:
df['speaks'].value_counts()

speaks
english                                                                21828
english (fluently)                                                      6628
english (fluently), spanish (poorly)                                    2059
english (fluently), spanish (okay)                                      1917
english (fluently), spanish (fluently)                                  1288
                                                                       ...
english (fluently), urdu (poorly), japanese (poorly), french (okay)        1
english, spanish, hindi, c++                                               1
english (fluently), japanese (okay), thai (okay), chinese (poorly)         1
english (fluently), french (okay), italian (okay), hebrew (okay)           1
english (fluently), french, farsi                                          1
Name: count, Length: 7647, dtype: int64

This should be dropped as it might cause a data leak.

In [37]:
df['status'].value_counts()

status
single            55697
seeing someone     2064
available          1865
married             310
unknown              10
Name: count, dtype: int64

This should also be dropped as most people are in the single category

# Multiclass Classification Neural Network
First, I plan to predict orientation using body_type, diet, drinks, drugs, ethnicity, job, pets, religion, sex, sign, and smokes. This will be done with a Neural Network and as orientation has 3 entries, it will be a multiclass model.

## Plan of Action using Data Insights
The data will need to be cleaned before I can build the model. The following will be done to each of my selected datapoints

**The following will be normalized:**
- diet
- religion
- sign

*Note: specifically text normalization will be performed, this is done to remove variation in the data.*

**The following will be one-hot-encoded:**
- body_type
- job
- diet
- religion
- pets
- sign

**The following will be label encoded:**
- orientation
- drinks
- drugs
- ethnicity
- sex
- smokes

### Drop NaN values

Start by dropping any NaN values from our selected features. There are many spread through all the selected columns and this will make the future operations we are going to perform later easier (by not having to account for NaN). We will also remove all columns that we don't plan to use.

In [41]:
selected_columns = ['body_type', 'diet', 'drinks', 'drugs', 'ethnicity', 'job', 'pets', 'religion', 'sex', 'sign', 'smokes', 'orientation']

df = df[selected_columns]
df.head()

,body_type,diet,drinks,drugs,ethnicity,job,pets,religion,sex,sign,smokes,orientation
0,a little extra,strictly anything,socially,never,"asian, white",transportation,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,straight
1,average,mostly other,often,sometimes,white,hospitality / travel,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,straight
2,thin,anything,socially,NaN,NaN,NaN,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,straight
3,thin,vegetarian,socially,NaN,white,student,likes cats,NaN,m,pisces,no,straight
4,athletic,NaN,socially,never,"asian, black, other",artistic / musical / writer,likes dogs and likes cats,NaN,m,aquarius,no,straight

In [42]:
print(df.shape)
df = df.dropna()
print(df.shape)  # lots of rows were lost, might be worth making some assumptions about na values

(59946, 12)
(12426, 12)

### Clean the data

Reduce the number of possible inputs in diet, religion, and sign

In [44]:
new_diet = []
for i in df['diet']:
    if 'anything' in i:
        new_diet.append('anything')
    elif 'vegetarian' in i:
        new_diet.append('vegetarian')
    elif 'vegan' in i:
        new_diet.append('vegan')
    elif 'halal' in i:
        new_diet.append('halal')
    elif 'kosher' in i:
        new_diet.append('kosher')
    else:
        new_diet.append('other')

Print the length of both the new list and the original column to check that the new column was made correctly

In [46]:
print(len(new_diet))
print(len(df['diet']))

12426
12426

In [47]:
new_religion = []
for i in df['religion']:
    if 'agnosticism' in i:
        new_religion.append('agnosticism')
    elif 'catholicism' in i:
        new_religion.append('catholicism')
    elif 'atheism' in i:
        new_religion.append('atheism')
    elif 'christianity' in i:
        new_religion.append('christianity')
    elif 'judaism' in i:
        new_religion.append('judaism')
    elif 'buddhism' in i:
        new_religion.append('buddhism')
    elif 'hinduism' in i:
        new_religion.append('hinduism')
    elif 'islam' in i:
        new_religion.append('islam')
    else:
        new_religion.append('other')

In [48]:
print(len(df['religion']))
print(len(new_religion))

12426
12426

In [49]:
new_sign = []
for i in df['sign']:
    if 'aries' in i:
        new_sign.append('aries')
    elif 'aquarius' in i:
        new_sign.append('aquarius')
    elif 'cancer' in i:
        new_sign.append('cancer')
    elif 'capricorn' in i:
        new_sign.append('capricorn')
    elif 'gemini' in i:
        new_sign.append('gemini')
    elif 'leo' in i:
        new_sign.append('leo')
    elif 'libra' in i:
        new_sign.append('libra')
    elif 'pisces' in i:
        new_sign.append('pisces')
    elif 'sagittarius' in i:
        new_sign.append('sagittarius')
    elif 'scorpio' in i:
        new_sign.append('scorpio')
    elif 'taurus' in i:
        new_sign.append('taurus')
    else:
        new_sign.append('virgo')

In [50]:
print(len(df['sign']))
print(len(new_sign))

12426
12426

Replace the old columns with the new lists we created, converting to a numpy array using `np.array` first.

In [52]:
df['diet'] = np.array(new_diet)
df['religion'] = np.array(new_religion)
df['sign'] = np.array(new_sign)
df.head()

,body_type,diet,drinks,drugs,ethnicity,job,pets,religion,sex,sign,smokes,orientation
0,a little extra,anything,socially,never,"asian, white",transportation,likes dogs and likes cats,agnosticism,m,gemini,sometimes,straight
1,average,other,often,sometimes,white,hospitality / travel,likes dogs and likes cats,agnosticism,m,cancer,no,straight
7,average,anything,socially,never,white,artistic / musical / writer,likes dogs and likes cats,christianity,f,sagittarius,no,straight
9,athletic,anything,not at all,never,white,student,likes dogs and likes cats,atheism,m,cancer,no,straight
11,average,anything,socially,never,white,banking / financial / real estate,likes cats,christianity,m,leo,no,straight

### One-Hot-Encoding

Now that we have reduced the number of possible inputs of certain columns, we can beging to clean our data using one-hot-encoding using pandas's `get_dummies`.

Reminder that we are performing this operation on body_type, job, diet, religion, pets, and sign

In [54]:
one_hot_columns = ['body_type', 'job', 'diet', 'religion', 'pets', 'sign']

df = pd.get_dummies(df, columns=one_hot_columns, dtype=int)
df.head()

,drinks,drugs,ethnicity,sex,smokes,orientation,body_type_a little extra,body_type_athletic,body_type_average,body_type_curvy,...,sign_cancer,sign_capricorn,sign_gemini,sign_leo,sign_libra,sign_pisces,sign_sagittarius,sign_scorpio,sign_taurus,sign_virgo
0,socially,never,"asian, white",m,sometimes,straight,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,often,sometimes,white,m,no,straight,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
7,socially,never,white,f,no,straight,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9,not at all,never,white,m,no,straight,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
11,socially,never,white,m,no,straight,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

### Label Encoding

Next is the label encoding. As a reminder we are label encoding the following columns: orientation, drinks, drugs, ethnicity, sex, smokes

In [56]:
df['orientation'] = df['orientation'].replace({'straight':0, 'gay':1, 'bisexual':2})
df['sex'] = df['sex'].replace({'m':0, 'f':1})

df['drinks'] = np.array([0 if i == 'not at all' else 1 for i in df['drinks']])
df['drugs'] = np.array([0 if i == 'never' else 1 for i in df['drugs']])
df['ethnicity'] = np.array([0 if i == 'white' else 1 for i in df['ethnicity']])
df['smokes'] = np.array([0 if i == 'no' else 1 for i in df['smokes']])
df.head()

/var/folders/2y/hmp5l6cs7430g1fjc2lsw4x80000gn/T/ipykernel_66683/4113682078.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['orientation'] = df['orientation'].replace({'straight':0, 'gay':1, 'bisexual':2})
/var/folders/2y/hmp5l6cs7430g1fjc2lsw4x80000gn/T/ipykernel_66683/4113682078.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sex'] = df['sex'].replace({'m':0, 'f':1})

,drinks,drugs,ethnicity,sex,smokes,orientation,body_type_a little extra,body_type_athletic,body_type_average,body_type_curvy,...,sign_cancer,sign_capricorn,sign_gemini,sign_leo,sign_libra,sign_pisces,sign_sagittarius,sign_scorpio,sign_taurus,sign_virgo
0,1,0,1,0,1,0,1,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,1,1,0,0,0,0,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
7,1,0,0,1,0,0,0,0,1,0,...,0,0,0,0,0,0,1,0,0,0
9,0,0,0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
11,1,0,0,0,0,0,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0

## Split data into features and classes

Now that we have converted the categorical data into numerical, and cleaned it, we are ready to split our data and start creating the tensors which will be used to train and test the Neural Network.

First we will need to import some more packages to do this. Those being `torch`, `torch.nn`, `torch.optim`, `train_test_split`

In [58]:
import torch
from torch import nn
from torch import optim

from sklearn.model_selection import train_test_split

Now we will create the tensor containing the features and the tensor containing the classes to be split using `train_test_split`.
We will create:
- `X` - this tensor will contain all columns except for 'orientation' (classes column)
- `y` - this tensor will only contain 'orientation' column

So we know how many inputs our Neural Network will need, print the shape of our features tensor using `.shape`

In [60]:
feature_columns = [i for i in df.columns if not i == 'orientation']

X = torch.tensor(df[feature_columns].values, dtype=torch.float)
y = torch.tensor(df['orientation'].values, dtype=torch.long)

X.shape

torch.Size([12426, 80])

Our model has 12426 rows and 80 columns, so our model will have 80 nodes as input. We will use this information later when we create the Neural Network. For now we need to split our data into training and test sets

In [62]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)

## Build and train the Neural Network

Now that we have our training and test sets we need to build a model that we can use them with. This model will have multiple hidden layers, so, we will use `nn.Sequential`. It will also use a combination of ReLU and Sigmoid functions and have a manual seed set to 42 (like our train_test_split) using `torch.manual_seed`.

In [64]:
torch.manual_seed(42)
model = nn.Sequential(
    nn.Linear(80, 16),
    nn.ReLU(),
    nn.Linear(16, 8),
    nn.ReLU(),
    nn.Linear(8, 3)
)

Now that we have our model we can create our loss function and our optimizer. As we are creating a multiclass classifier, our loss function will be `CrossEntropyLoss` and our optimizer will be `Adam`. `CrossEntropyLoss` works well as it automatically will apply the softmax function to the output of our model and the Adam optimizer works well with multiclass classification too.

In [66]:
loss = nn.CrossEntropyLoss()
optimizer = optim.Adam(model.parameters(), lr=0.01)

Our learning rate is quite small, this means that our model will adjust the weights in a relatively small way each epoch. To compensate for this we will train the model on 10,000 Epochs. Import `accuracy_score` from `sklearn` to keep track of our models performance every 100 epochs!

In [68]:
from sklearn.metrics import accuracy_score

num_epochs = 10000
for i in range(num_epochs):
    predictions = model(X_train)
    CELoss = loss(predictions, y_train)
    CELoss.backward()
    optimizer.step()
    optimizer.zero_grad()

    if (i+1) % 100 == 0:
        predicted_labels = torch.argmax(predictions, dim=1)
        accuracy = accuracy_score(y_train, predicted_labels)
        print(f'Epoch[{(i+1)}/{num_epochs}], CELoss: {CELoss.item():.4f}, Accuracy: {accuracy:.4f}')

Epoch[100/10000], CELoss: 0.4282, Accuracy: 0.8626
Epoch[200/10000], CELoss: 0.4017, Accuracy: 0.8642
Epoch[300/10000], CELoss: 0.3830, Accuracy: 0.8730
Epoch[400/10000], CELoss: 0.3539, Accuracy: 0.8881
Epoch[500/10000], CELoss: 0.3464, Accuracy: 0.8909
Epoch[600/10000], CELoss: 0.3414, Accuracy: 0.8925
Epoch[700/10000], CELoss: 0.3375, Accuracy: 0.8933
Epoch[800/10000], CELoss: 0.3358, Accuracy: 0.8938
Epoch[900/10000], CELoss: 0.3326, Accuracy: 0.8949
Epoch[1000/10000], CELoss: 0.3312, Accuracy: 0.8954
Epoch[1100/10000], CELoss: 0.3290, Accuracy: 0.8963
Epoch[1200/10000], CELoss: 0.3280, Accuracy: 0.8979
Epoch[1300/10000], CELoss: 0.3268, Accuracy: 0.8980
Epoch[1400/10000], CELoss: 0.3269, Accuracy: 0.8973
Epoch[1500/10000], CELoss: 0.3242, Accuracy: 0.8983
Epoch[1600/10000], CELoss: 0.3235, Accuracy: 0.8989
Epoch[1700/10000], CELoss: 0.3223, Accuracy: 0.8989
Epoch[1800/10000], CELoss: 0.3216, Accuracy: 0.8992
Epoch[1900/10000], CELoss: 0.3208, Accuracy: 0.8996
Epoch[2000/10000], CELoss: 0.3198, Accuracy: 0.9002
Epoch[2100/10000], CELoss: 0.3200, Accuracy: 0.9002
Epoch[2200/10000], CELoss: 0.3722, Accuracy: 0.8777
Epoch[2300/10000], CELoss: 0.3367, Accuracy: 0.8936
Epoch[2400/10000], CELoss: 0.3319, Accuracy: 0.8956
Epoch[2500/10000], CELoss: 0.3284, Accuracy: 0.8972
Epoch[2600/10000], CELoss: 0.3256, Accuracy: 0.8981
Epoch[2700/10000], CELoss: 0.3238, Accuracy: 0.8990
Epoch[2800/10000], CELoss: 0.3219, Accuracy: 0.8996
Epoch[2900/10000], CELoss: 0.3205, Accuracy: 0.8997
Epoch[3000/10000], CELoss: 0.3190, Accuracy: 0.9011
Epoch[3100/10000], CELoss: 0.3179, Accuracy: 0.9012
Epoch[3200/10000], CELoss: 0.3214, Accuracy: 0.9002
Epoch[3300/10000], CELoss: 0.3152, Accuracy: 0.9027
Epoch[3400/10000], CELoss: 0.3146, Accuracy: 0.9024
Epoch[3500/10000], CELoss: 0.3138, Accuracy: 0.9028
Epoch[3600/10000], CELoss: 0.3122, Accuracy: 0.9029
Epoch[3700/10000], CELoss: 0.3200, Accuracy: 0.9011
Epoch[3800/10000], CELoss: 0.3131, Accuracy: 0.9032
Epoch[3900/10000], CELoss: 0.3115, Accuracy: 0.9031
Epoch[4000/10000], CELoss: 0.3123, Accuracy: 0.9036
Epoch[4100/10000], CELoss: 0.3109, Accuracy: 0.9033
Epoch[4200/10000], CELoss: 0.3105, Accuracy: 0.9035
Epoch[4300/10000], CELoss: 0.3110, Accuracy: 0.9030
Epoch[4400/10000], CELoss: 0.3080, Accuracy: 0.9045
Epoch[4500/10000], CELoss: 0.3076, Accuracy: 0.9045
Epoch[4600/10000], CELoss: 0.3088, Accuracy: 0.9039
Epoch[4700/10000], CELoss: 0.3069, Accuracy: 0.9048
Epoch[4800/10000], CELoss: 0.3063, Accuracy: 0.9044
Epoch[4900/10000], CELoss: 0.3061, Accuracy: 0.9048
Epoch[5000/10000], CELoss: 0.3060, Accuracy: 0.9049
Epoch[5100/10000], CELoss: 0.3062, Accuracy: 0.9048
Epoch[5200/10000], CELoss: 0.3064, Accuracy: 0.9041
Epoch[5300/10000], CELoss: 0.3058, Accuracy: 0.9042
Epoch[5400/10000], CELoss: 0.3044, Accuracy: 0.9048
Epoch[5500/10000], CELoss: 0.3057, Accuracy: 0.9043
Epoch[5600/10000], CELoss: 0.3064, Accuracy: 0.9035
Epoch[5700/10000], CELoss: 0.3061, Accuracy: 0.9043
Epoch[5800/10000], CELoss: 0.3038, Accuracy: 0.9041
Epoch[5900/10000], CELoss: 0.3050, Accuracy: 0.9042
Epoch[6000/10000], CELoss: 0.3036, Accuracy: 0.9043
Epoch[6100/10000], CELoss: 0.3044, Accuracy: 0.9038
Epoch[6200/10000], CELoss: 0.3032, Accuracy: 0.9045
Epoch[6300/10000], CELoss: 0.3032, Accuracy: 0.9048
Epoch[6400/10000], CELoss: 0.3025, Accuracy: 0.9050
Epoch[6500/10000], CELoss: 0.3046, Accuracy: 0.9040
Epoch[6600/10000], CELoss: 0.3035, Accuracy: 0.9036
Epoch[6700/10000], CELoss: 0.3083, Accuracy: 0.9033
Epoch[6800/10000], CELoss: 0.3061, Accuracy: 0.9025
Epoch[6900/10000], CELoss: 0.3062, Accuracy: 0.9025
Epoch[7000/10000], CELoss: 0.3025, Accuracy: 0.9048
Epoch[7100/10000], CELoss: 0.3019, Accuracy: 0.9047
Epoch[7200/10000], CELoss: 0.3024, Accuracy: 0.9043
Epoch[7300/10000], CELoss: 0.3073, Accuracy: 0.9018
Epoch[7400/10000], CELoss: 0.3088, Accuracy: 0.9024
Epoch[7500/10000], CELoss: 0.3074, Accuracy: 0.9030
Epoch[7600/10000], CELoss: 0.3058, Accuracy: 0.9020
Epoch[7700/10000], CELoss: 0.3052, Accuracy: 0.9025
Epoch[7800/10000], CELoss: 0.3046, Accuracy: 0.9022
Epoch[7900/10000], CELoss: 0.3054, Accuracy: 0.9020
Epoch[8000/10000], CELoss: 0.3069, Accuracy: 0.9030
Epoch[8100/10000], CELoss: 0.3043, Accuracy: 0.9026
Epoch[8200/10000], CELoss: 0.3046, Accuracy: 0.9027
Epoch[8300/10000], CELoss: 0.3056, Accuracy: 0.9021
Epoch[8400/10000], CELoss: 0.3032, Accuracy: 0.9036
Epoch[8500/10000], CELoss: 0.3046, Accuracy: 0.9018
Epoch[8600/10000], CELoss: 0.3027, Accuracy: 0.9027
Epoch[8700/10000], CELoss: 0.3034, Accuracy: 0.9023
Epoch[8800/10000], CELoss: 0.3030, Accuracy: 0.9025
Epoch[8900/10000], CELoss: 0.3026, Accuracy: 0.9025
Epoch[9000/10000], CELoss: 0.3037, Accuracy: 0.9019
Epoch[9100/10000], CELoss: 0.3118, Accuracy: 0.9030
Epoch[9200/10000], CELoss: 0.3043, Accuracy: 0.9012
Epoch[9300/10000], CELoss: 0.3039, Accuracy: 0.9008
Epoch[9400/10000], CELoss: 0.3079, Accuracy: 0.8994
Epoch[9500/10000], CELoss: 0.3040, Accuracy: 0.9010
Epoch[9600/10000], CELoss: 0.3047, Accuracy: 0.9011
Epoch[9700/10000], CELoss: 0.3024, Accuracy: 0.9011
Epoch[9800/10000], CELoss: 0.3037, Accuracy: 0.9009
Epoch[9900/10000], CELoss: 0.3029, Accuracy: 0.9011
Epoch[10000/10000], CELoss: 0.6184, Accuracy: 0.7100

## Evaluate the model

Now that we have trained our model it is time to evaluate it. We need to switch the model into evaluation mode and use our test set to determine its effectiveness at predicting orientation. Import `classification_report` from `sklearn` for a detailed understanding of our models performance. Print both the accuracy score of the model and the classification report.

In [70]:
from sklearn.metrics import classification_report

model.eval()
with torch.no_grad():
    test_predictions = model(X_test)
    test_labels = torch.argmax(test_predictions, dim=1)

accuracy = accuracy_score(y_test, test_labels)
report = classification_report(y_test, test_labels)

print(accuracy)
print(report)

0.8423169750603379
              precision    recall  f1-score   support

           0       0.88      0.95      0.92      2175
           1       0.16      0.03      0.05       181
           2       0.18      0.14      0.16       130

    accuracy                           0.84      2486
   macro avg       0.41      0.37      0.38      2486
weighted avg       0.79      0.84      0.81      2486

The model appears to do pretty well, that is until we remember that most entries identified as 'straight'... We have built a very naive model, by predicting 0 in most cases it was very accurate but it could not identify 'gay' or 'bisexual' as demonstrated by the abysmal precision, recall, and f1-scores. This was the case before we performed the `dropna` function so lets look at the distribution now.

In [72]:
df['orientation'].value_counts()

orientation
0    10749
1     1015
2      662
Name: count, dtype: int64

Doing the math we can see that those that identify as 'straight' make up **86.5%** of our data, with 'gay' at **8.2%** and 'bisexual' at **5.3%**. We have overfit our model, it is technically performing worse than if it simply predicted 0 for all values. The evidence of overfitting can be seen in the output of our training epochs where the model got 'stuck' around **85-90%** accuracy. To improve this model, we should consider randomly sampling ~1000 rows of those who identify as 'straight'. This could allow the model to identify the nuances of the different classes in the feature set rather than one class being overwhelmingly in the majority; allowing for more accurate predictions.

# Binary Classification Neural Network

Using the lessons learned from the multiclass neural network, we will use a DataFrame containing fewer features and a more evenly distributed target column. First, we need to set the DateFrame to its original state using the method we delcared earlier.

In [76]:
df = import_csv()

Now we need to think about feature selection, as we are creating a binary model, we can only have two possible values in our column we are trying to predict. The column 'sex' will be our `y`. 

We will try to predict 'sex' using the following columns in our `X`: 'jobs', 'drinks', 'drugs', and 'smokes'. We will need to perform similar changes as we did before to clean our data. Those being:

**One-Hot-Encoded:**
- job

**Label Encoded:**
- drinks
- drugs
- smokes
- sex

## Feature Selection

In [79]:
selected_cols = ['job', 'drinks', 'drugs', 'smokes', 'sex']

df = df[selected_cols]
df.head()

                           job    drinks      drugs     smokes sex
0               transportation  socially      never  sometimes   m
1         hospitality / travel     often  sometimes         no   m
2                          NaN  socially        NaN         no   m
3                      student  socially        NaN         no   m
4  artistic / musical / writer  socially      never         no   m

## Data Cleaning

First, we will drop any missing values from our selected columns

In [81]:
print(df.shape)
df = df.dropna()
print(df.shape)

(59946, 5)
(37987, 5)

We can already see that there are far more columns in this DataFrame than the one that we used for the multiclass Neural Network. However, this doesn't mean that our dataset is immune to saturation. It is possible that all ~12000 missing values belongs to those who either put male or female in their profiles. Lets check this using `value_counts`

In [83]:
df['sex'].value_counts()

sex
m    22690
f    15297
Name: count, dtype: int64

Most users already identified as male before we dropped rows with missing values. This distribution is less extreme than that of the 'orientation' column so can continue to encoding the data.

### Label Encoding

In [85]:
df['sex'] = df['sex'].replace({'m':0, 'f':1})
df['drinks'] = np.array([0 if i == 'not at all' else 1 for i in df['drinks']])
df['drugs'] = np.array([0 if i == 'never' else 1 for i in df['drugs']])
df['smokes'] = np.array([0 if i == 'no' else 1 for i in df['smokes']])

/var/folders/2y/hmp5l6cs7430g1fjc2lsw4x80000gn/T/ipykernel_66683/3027707200.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['sex'] = df['sex'].replace({'m':0, 'f':1})

### One-Hot-Encoding

In [87]:
df = pd.get_dummies(df, columns=['job'], dtype=int)
df.head()

,drinks,drugs,smokes,sex,job_artistic / musical / writer,job_banking / financial / real estate,job_clerical / administrative,job_computer / hardware / software,job_construction / craftsmanship,job_education / academia,...,job_military,job_other,job_political / government,job_rather not say,job_retired,job_sales / marketing / biz dev,job_science / tech / engineering,job_student,job_transportation,job_unemployed
0,1,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,1,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,1,0,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

### Training the model

Now that we have our final DataFrame, we can begin training our Neural Network. We will split our data in features and classes, then further split into training and test sets.

In [89]:
feature_cols = [i for i in df.columns if not i == 'sex']

X = torch.tensor(df[feature_cols].values, dtype=torch.float)
y = torch.tensor(df['sex'].values, dtype=torch.float).view(-1,1)

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.2, random_state=42)
X_train.shape

torch.Size([30389, 24])

Our model will need to have 24 input nodes (as shown by the result of `.shape`) and as this is a binary classification model, it will have an output of 1 with the sigmoid function applied.

In [91]:
torch.manual_seed(42)
model = nn.Sequential(
    nn.Linear(24, 32),
    nn.ReLU(),
    nn.Linear(32, 16),
    nn.ReLU(),
    nn.Linear(16, 8),
    nn.ReLU(),
    nn.Linear(8, 1),
    nn.Sigmoid()
)

We will train our model using 10000 epochs again, however, this time we will use a binary cross entropy loss function `BCELoss()` and stochastic gradient descent `SGD`.

In [93]:
loss = nn.BCELoss()
optimizer = optim.SGD(model.parameters(), lr=0.01)

num_epochs = 10000
for i in range(num_epochs):
    predictions = model(X_train)
    BCELoss = loss(predictions, y_train)
    BCELoss.backward()
    optimizer.step()
    optimizer.zero_grad()

    if (i+1) % 1000 == 0:
        predicted_labels = (predictions >=.5).int()
        accuracy = accuracy_score(y_train, predicted_labels)
        print(f'Epoch[{(i+1)}/{num_epochs}], BCELoss: {BCELoss.item():.4f}, Accuracy: {accuracy:.4f}')

Epoch[1000/10000], BCELoss: 0.6743, Accuracy: 0.5962
Epoch[2000/10000], BCELoss: 0.6738, Accuracy: 0.5962
Epoch[3000/10000], BCELoss: 0.6733, Accuracy: 0.5962
Epoch[4000/10000], BCELoss: 0.6726, Accuracy: 0.5962
Epoch[5000/10000], BCELoss: 0.6715, Accuracy: 0.5962
Epoch[6000/10000], BCELoss: 0.6697, Accuracy: 0.5962
Epoch[7000/10000], BCELoss: 0.6664, Accuracy: 0.5962
Epoch[8000/10000], BCELoss: 0.6603, Accuracy: 0.5962
Epoch[9000/10000], BCELoss: 0.6502, Accuracy: 0.5962
Epoch[10000/10000], BCELoss: 0.6387, Accuracy: 0.6308

Our model made no gains in its accuracy, this points to a too restrictive learning rate. We will repeat the process but this time with a learning rate of 0.07.

In [95]:
loss = nn.BCELoss()
optimizer = optim.SGD(model.parameters(), lr=0.1)

num_epochs = 10000
for i in range(num_epochs):
    predictions = model(X_train)
    BCELoss = loss(predictions, y_train)
    BCELoss.backward()
    optimizer.step()
    optimizer.zero_grad()

    if (i+1) % 1000 == 0:
        predicted_labels = (predictions >=.5).int()
        accuracy = accuracy_score(y_train, predicted_labels)
        print(f'Epoch[{(i+1)}/{num_epochs}], BCELoss: {BCELoss.item():.4f}, Accuracy: {accuracy:.4f}')

Epoch[1000/10000], BCELoss: 0.6193, Accuracy: 0.6414
Epoch[2000/10000], BCELoss: 0.6183, Accuracy: 0.6418
Epoch[3000/10000], BCELoss: 0.6179, Accuracy: 0.6418
Epoch[4000/10000], BCELoss: 0.6176, Accuracy: 0.6419
Epoch[5000/10000], BCELoss: 0.6175, Accuracy: 0.6423
Epoch[6000/10000], BCELoss: 0.6174, Accuracy: 0.6423
Epoch[7000/10000], BCELoss: 0.6172, Accuracy: 0.6426
Epoch[8000/10000], BCELoss: 0.6171, Accuracy: 0.6427
Epoch[9000/10000], BCELoss: 0.6171, Accuracy: 0.6427
Epoch[10000/10000], BCELoss: 0.6170, Accuracy: 0.6430

In [154]:
model.eval()
with torch.no_grad():
    test_predictions = model(X_test)
    test_labels = (test_predictions >= .5).int()
print(accuracy_score(y_test, test_labels))
print(classification_report(y_test, test_labels))

0.6379310344827587
              precision    recall  f1-score   support

         0.0       0.67      0.78      0.72      4572
         1.0       0.56      0.43      0.48      3026

    accuracy                           0.64      7598
   macro avg       0.62      0.60      0.60      7598
weighted avg       0.63      0.64      0.63      7598

# Clustering

Our Neural Network models have not done too well so far...fortunately we can use clustering to predict whether a user is male or female